body {
    text-align: center;
}

.player {
    height: 50vh;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.life {
    padding: 30px;
}

.md-fab {
    width: 30vw;
}

@media all and (orientation:portrait) {
    .upside-down {
        transform: rotate(180deg);
    }
}